body {
    background-color: rgb(31, 31, 31);
    background-image: url(https://i.imgur.com/np6MEBT.jpg);
    color: mediumseagreen;
    width: 500px;
    margin: 0 auto;
    border-left: 5px solid mediumseagreen;
}

h1 {
    color: mediumseagreen;
    text-align:center;
}